{% extends 'SoporteHAWebapp/base.html' %}
{% load  static %} 

{% block contenidopagina %}
<br>
<h1 style="text-align: center;"><b>Publicaciones</b></h1>
<br>
<hr style="width: 25%; margin: auto;">
<br>
<br>


<div class="row gx-5"> 
    {%for publicacion in blogg%}
        <div class="badge bg-primary bg-gradient rounded-pill mb-2">{{publicacion.titulo}}</div>     
        <a class="btn btn-info btn-lg px-2 me-sm2" href="{% url 'ver_publicacion' publicacion.id %}" style="text-align: center; color: white;">Ver</a>      
{%endfor%}     
</div>

{%endblock%}


