{% extends 'SoporteHAWebapp/base.html' %}
{% load  static %} 

{% block contenidopagina %}
<br>
<h1 style="text-align: center;"><b>Instructivos - Templates</b></h1>
<br>
<hr style="width: 25%; margin: auto;">
<br>
<br>

<div class="row gx-5"> 
    {%for publicacion in blogg%}
    <div class="col-lg-3 mb-5">
        <div class="card h-50 shadow border-0">
            <div class="card-body p-4">
                <div class="badge bg-primary bg-gradient rounded-pill mb-2">{{publicacion.autor}}</div>
                <h5 class="card-title mb-3">{{publicacion.titulo}}</h5></a>
                <br>
                <a class="btn btn-dark" href="{% url 'ver_publicacion' publicacion.id %}" style="text-align: center;">Ver</a> 
                <a class="btn btn-outline-primary btn-lg px-2 me-sm2" href="{% url 'editar_publicacion' publicacion.id %}" style="text-align: center;">Editar</a>                                   
                <a class="btn btn-outline-danger btn-lg px-2 me-sm2" href="{% url 'eliminar_publicacion' publicacion.id %}" style="text-align: center;">Eliminar</a>
            </div>                                
        </div>
    </div>
{%endfor%}                 
</div>

{%endblock%}
