{% extends 'SoporteHAWebapp/base.html' %}
{% load  static %} 


{% block contenidopagina %}

<section class="py-8">     
  <div class="py-5 bg-light">
    <div class="container px-5 my-5">
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-10 col-xl-7">
          <div class="text-center">
            <div class="fs-4 mb-4 fst-italic">
              <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{% static 'img/Diagramas de flujo Atencion telefonica1.png' %}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'img/Diagramas de flujo Atencion Desarrollo1.png' %}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>                         
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



{%endblock%}

<section class="py-8">     
  <div class="py-5 bg-light">
      <div class="container px-5 my-5">
          <div class="row gx-5 justify-content-center">
              <div class="col-lg-10 col-xl-7">
                  <div class="text-center">
                      <div class="fs-4 mb-4 fst-italic">
                                                             
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>